.App {
  text-align: center;
  vertical-align:top;
  width: 100%;
  height: 100%;
  background-color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.control-bar {
  text-align: left;
  margin-left: 10px;
  vertical-align:top;
  width: 100%;
  margin-bottom: 40px;
  background-color: black;
}


.progress-bar-wrapper {
  background-color: #2f363c;
  height: 27px;
  width: 760px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 5px;
}

.c {
  height: 315px;
  width: 100px;
  background-color: lime;
}

.gap {
  margin-right: 50px;
}

.gap2 {
  margin-right: 65px;
}

.right {
  height: 27px;
  float:right;
  width:100px;
}

.progress-bar {
  height: 8px;
  width: 1px;
  transform: translateY(50%);
  border: 3px solid #2f363c;
  border-radius: 10px;
  background-color: lime;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 640px; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  transform: translateX(0%);
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 640px;
    border-radius: 10px;
    -webkit-appearance: none;
    background-color: #2f363c;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 4px;
    width: 740px;
    border-radius: 10px;
    -webkit-appearance: none;
    color: #2f363c;
    margin-top: -1px;
    cursor: pointer;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 1px;
    -webkit-appearance: none;
    height: 1px;
    cursor: pointer;
    pointer-events:auto;
    background: lime;
    box-shadow: -320px 0 0 320px lime;
  }
}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: lime; 
}
input[type="range"]::-moz-range-track {  
  background-color: #2f363c;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: lime; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #2f363c;
}

